/** @format */
.App {
  width: 100vw;
  height: 100vh;
  background: #faf9fb;
  overflow-x: hidden;
}
.App::-webkit-scrollbar {
  display: none;
}

/* Header section */
/** @format */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.logo {
  min-width: 40px;
  width: 50px;
}
.inputBox {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 8px 15px;
  width: 120px;
}
.inputBox .searchIcon {
  color: #787a84;
  font-size: 20px;
}
.inputBox input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  color: #787a84;
  padding-left: 8px;
  font-size: 14px;
  font-weight: 500;
}
.shoppingCart {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.shoppingCart .cartIcon {
  font-size: 30px;
  color: #373737;
}
.shoppingCart .cartContent {
  width: 20px;
  height: 20px;
  background: yellowgreen;
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  top: -8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shoppingCart .cartContent p {
  font-weight: 500;
  color: black;
}
.profileContainer {
  display: flex;
  align-items: center;
}
.profileContainer .imgBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 100vw;
  background: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.profileContainer .imgBox .profilePic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profileContainer .userName {
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
  display: none;
}
.toggleMenu {
  display: flex;
  align-items: center;
}
.toggleMenu .toggleIcon {
  color: #373848;
  font-size: 30px;
}

/*Main container*/

main {
  width: 100%;
  height: auto;
  background: #faf9fb;
  margin-top: 60px;
}
.mainContainer {
  width: 100%;
  height: auto;
  background: #faf9fb;
  padding: 10px;
  padding-bottom: 100px;
}
.banner {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-fresh-lemon-fruit-juice-green-background-image_194206.jpg")
    no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.deliveryPic {
  position: absolute;
  right: -10px;
  /* bottom: -10px; */
  width: 130px;
}
.bannerContent {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bannerContent h3 {
  font-size: 18px;
  font-weight: 500;
  color: #2a2b3c;
}
.bannerContent p {
  font-size: 14px;
  width: 200px;
  margin: 5px 0;
}
.bannerContent p span {
  font-weight: 600;
}
.bannerContent a {
  background: yellowgreen;
  padding: 5px 15px;
  border-radius: 100vw;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: black;
}
.bannerContent a:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

/* Food container */
.foodContainer {
  width: 100%;
  padding: 10px 0;
}
.menuCard {
  width: 100%;
}

.subMenuContainer,
.viewAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subMenuContainer h3 {
  font-size: 16px;
  font-weight: 600;
  color: #2a2b3c;
}
.subMenuContainer .viewAll p {
  font-size: 12px;
  color: #2a2b3c;
  font-weight: 500;
}
.subMenuContainer .viewAll i {
  background: greenyellow;
  width: 20px;
  height: 20px;
  min-width: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.subMenuContainer .viewAll i .MuiSvgIcon-root {
  font-size: 18px;
}

.rowContainer {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  margin: 10px 0;
  padding: 10px 0;
}

.rowContainer::-webkit-scrollbar {
  display: none;
}

.rowMenuCard {
  width: 80px;
  min-width: 80px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
  margin-right: 12px;
}
.rowMenuCard:hover,
.rowMenuCard.active {
  background: greenyellow;
}

.rowMenuCard .imgBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20%;
  background: yellowgreen;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}

.rowMenuCard:hover .imgBox,
.rowMenuCard.active .imgBox {
  background: #fff;
}

.rowMenuCard .imgBox img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.rowMenuCard:hover .imgBox img,
.rowMenuCard.active .imgBox img {
  width: 80%;
  height: 80%;
}
.rowMenuCard h3 {
  color: yellowgreen;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
}

.rowMenuCard:hover h3,
.rowMenuCard.active h3 {
  color: #faf9fb;
}

.rowMenuCard .loadMenu {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: yellowgreen;
  transition: 0.5s;
}
.rowMenuCard:hover .loadMenu,
.rowMenuCard.active .loadMenu {
  background: #faf9fb;
}
.rowMenuCard .loadMenu .MuiSvgIcon-root {
  font-size: 18px;
}
.rowMenuCard:hover .loadMenu .MuiSvgIcon-root,
.rowMenuCard.active .loadMenu .MuiSvgIcon-root {
  color: yellowgreen;
}

.foodItemContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.itemCard {
  width: 160px;
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
}
.isFavourite {
  position: absolute;
  top: 80px;
  right: 10px;
  transition: 0.5s;
}
.isFavourite .MuiSvgIcon-root {
  font-size: 18px;
  color: grey;
}

.isFavourite.active .MuiSvgIcon-root {
  /* color: red; */
  color: yellowgreen;
}

.itemCard .imgBox {
  width: 100px;
  height: 100px;
  border-radius: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: absolute;
  top: -10px;
}

.itemCard .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemImg {
  position: absolute;
  top: 0;
  width: 60%;
}

.itemContent {
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 10px;
  padding-top: 50px;
}

.itemContent .itemName {
  font-size: 16px;
}

.itemContent .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemContent .bottom .rating .MuiSvgIcon-root {
  font-size: 16px;
}
.yellowgreen {
  color: yellowgreen !important;
}
.gray {
  color: gray !important;
}

.itemContent .bottom .price {
  font-size: 16px;
}

.itemContent .bottom .price span {
  color: yellowgreen;
  font-size: 12px;
}

.itemContent .addToCart {
  background: greenyellow;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.itemContent .addToCart .MuiSvgIcon-root {
  font-size: 16px;
}

.rightMenu {
  width: 350px;
  height: calc(100% - 60px);
  background: #fff;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 102;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  transform: translateX(200%);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
}
.rightMenu.active {
  transform: translateX(0%);
}

.debitCardContainer {
  padding: 10px;
  width: 100%;
  height: auto;
}
.debitCard {
  position: relative;
  width: 100%;
  height: 170px;
  min-width: 300px;
  min-height: 170px;
  border-radius: 15px;
}

.debitCard::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: yellowgreen;
  transform: rotate(5deg);
  border-radius: 15px;
  filter: blur(2px);
  z-index: -2;
}

.debitCard::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.cardGroup {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.card_logo,
.card_chip,
.card_number,
.card_name,
.card_from,
.card_to,
.card_ring {
  position: absolute;
}
.card_logo {
  width: 60px;
  height: auto;
  top: 30px;
  right: 30px;
}
.card_chip {
  width: 40px;
  height: auto;
  top: 50px;
  left: 30px;
}
.card_number,
.card_from,
.card_to,
.card_name {
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
}
.card_number {
  left: 30px;
  bottom: 60px;
}
.card_name {
  font-size: 15px;
  bottom: 30px;
  left: 30px;
}
.card_from {
  font-size: 12px;
  bottom: 30px;
  right: 90px;
}
.card_to {
  bottom: 30px;
  right: 30px;
  font-size: 12px;
}
.card_ring {
  height: 400px;
  width: 400px;
  border-radius: 100vw;
  background: transparent;
  border: 50px solid rgba(0, 0, 0, 0.1);
  top: -250px;
  right: -250px;
  box-sizing: border-box;
}
.card_ring:after {
  position: absolute;
  content: "";
  height: 500px;
  width: 500px;
  border-radius: 100vw;
  background: transparent;
  border: 50px solid rgba(0, 0, 0, 0.1);
  top: 185px;
  right: -155px;
  box-sizing: border-box;
}

.cartCheckOutContainer {
  width: 100%;
  min-width: 320px;
}

.cartContainer {
  width: 100%;
  min-height: 250px;
  max-height: 280px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cartContainer::-webkit-scrollbar {
  display: none;
}
.cartItem {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.cartItem .imgBox {
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  background: #00ffc855;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.cartItem .itemSection {
  margin-left: 10px;
}
.cartItem .itemSection .itemName {
  font-size: 16px;
  color: #2a2b3c;
}
.cartItem .itemSection .itemQuantity {
  font-size: 16px;
  color: #2a2b3c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.cartItem .itemSection .itemQuantity span {
  color: yellowgreen;
}
.cartItem .itemSection .itemQuantity .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
}
.cartItem .itemSection .itemQuantity .quantity .itemRemove,
.cartItem .itemSection .itemQuantity .quantity .itemAdd {
  color: #2a2b3c;
  font-size: 24px;
}
.cartItem .itemPrice {
  font-size: 16px;
  font-weight: 600;
  color: #2a2b3c;
  margin-left: auto;
}

.cartItem .itemPrice .dollarSign {
  font-size: 15px;
  color: yellowgreen;
}

.cartItem .itemPrice .itemPriceValue {
  font-size: 18px;
  color: #373748;
}

.totalSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  margin: 15px 0px;
}
.totalSection h3 {
  font-size: 18px;
  font-weight: 600;
  color: #2a2b3c;
}
.totalSection p {
  font-size: 18px;
  font-weight: 600;
  color: #2a2b3c;
}
.totalSection p span {
  font-size: 14px;
  color: yellowgreen;
}

.checkOut {
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 20px;
  background: yellowgreen;
  border-radius: 100vw;
  color: #faf9fb;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

/*Bottom menu*/

.bottomMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0 0;
  z-index: 101;
}

.bottomMenu ul {
  display: flex;
}
.bottomMenu ul li {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
}
.bottomMenu ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}
.bottomMenu ul li a .icon {
  position: relative;
  display: block;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
}
.bottomMenu ul li a .icon .MuiSvgIcon-root {
  font-size: 25px;
  color: #373748;
}
.bottomMenu ul li.active a .icon {
  transform: translateY(-26px);
}
.bottomMenu ul li.active a .icon .MuiSvgIcon-root {
  color: #faf9fb;
  transition: 0.5s;
}
.indicator {
  position: absolute;
  height: 60px;
  width: 60px;
  /* background: #f65d34; */
  background: yellowgreen;

  border-radius: 100vw;
  top: -50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-left-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}

.bottomMenu ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(60px * 0));
}
.bottomMenu ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(60px * 1));
}
.bottomMenu ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(60px * 2));
}
.bottomMenu ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(60px * 3));
}
.bottomMenu ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(60px * 4));
}
.bottomMenu ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(60px * 5));
}

/* Responsive Design */
@media screen and (min-width: 650px) {
  .rowContainer {
    justify-content: space-between;
  }

  .inputBox {
    width: 60%;
  }
}

@media screen and (min-width: 950px) {
  .toggleMenu {
    display: none;
  }

  .profileContainer .userName {
    display: block;
  }

  .leftMenu {
    left: 21%;
    width: 40%;
  }

  .mainContainer {
    width: calc(100% - 350px);
  }
  .banner {
    height: 160px;
  }

  .deliveryPic {
    width: 170px;
  }

  .bannerContent h3 {
    font-size: 24px;
  }

  .bannerContent p {
    font-size: 15px;
    margin: 12px 0;
    width: unset;
  }

  .bannerContent a {
    font-size: 16px;
  }

  main {
    display: flex;
  }
  .mainContainer {
    padding: 10px 30px;
  }
  .rightMenu {
    position: fixed;
    z-index: 1;
    transform: translateX(0%);
    top: unset;
    padding: 20px 15px;
  }
  .itemCard {
    width: 180px;
    height: 200px;
  }
}
