.LoginDiv {
  width: 100%;
  height: 100%;
  background: grey;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonDiv {
  border: 3px solid yellowgreen;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
}
.googleImg {
  width: 5%;
}
.loginButton {
  padding: 10px;
  border-radius: 10px;
  color: greenyellow;
  font-weight: bolder;
  font-size: xx-large;
  border: none;
}
